*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(172, 74, 222);
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 50%;
    flex-direction: column;
    align-content: center;
    display: flex;
    margin: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
  }
#nombreEvento,
#fechaEvento{
    border-radius: 12px;
    padding: 8px;
    border: 2px solid rgb(84, 146, 245);
    width: 300px;
    justify-content: center;
    margin: 10px;
    
}
#agregar{
    background-color: rgb(126, 49, 198);
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 12px;
    width: 300px;
}

.listaEventos2{
    background-color: white;
    flex-direction: column;
    display: flex;
    width: 1000px;
    border-radius: 12px;
    padding: 20px;
    margin-block-end: 120px;
}
.eliminar{
    background-color: rgb(91, 204, 50);
    font-size: 17px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.eliminar:hover{
    color: white;
    background-color: red;
}
.evento{
    border-radius: 20px;
    border: 3px solid yellow;
    padding: 30px;
    display: flex;
    margin-block-end: 12px;
    align-items: center;
    justify-content: space-between;


}

.diasFaltantes{
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.texto{
    flex-direction: column;
    display: flex;
}
.nombreEvento,
.fechaEvento{
    
    margin: 0 100px; 
}